.grille-planning {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.colonne-planning {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.entree-planning {
    position: relative;
    padding: 10px;
    background-color: #ffcccb;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
